.form-apple {
  width: 700px;
  height: 280px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  position: absolute;
  margin-top: 140px;
  margin-left: 500px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  padding: 50px;
}

.insert-apple {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn-submit {
  cursor: pointer;
  margin-top: 100px;
  width: 100px;
}
