@font-face {
  font-family: dans-disney-ui;
  src: url(Font/dans-disney-font/DansDisneyUi-x5Aq.ttf);
}
@font-face {
  font-family: white-dream;
  src: url(Font/white-dream-font/WhiteDreamPersonalUseOnlyRegular-L37Rn.otf);
}
@font-face {
  font-family: new-walt-disney;
  src: url(Font/new-waltograph-font/NewWaltDisneyFontRegular-BPen.ttf);
}

body {
  background: url(images/snow03.gif), url(images/background-login1.avif);
  background-color: lightgray;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-login {
  width: 851.586px;
  height: 509.498px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #fff;
  display: flex;
}

.left-login {
  width: 474.759px;
  height: 499px;
  flex-shrink: 0;
  border-radius: 50px 0px 0px 50px;
  border: 5px solid #fff;
  background: url(images/LeftCard.svg),
    linear-gradient(358deg, #0c0c07 -5.14%, #657bb0 64.54%, #d6dfff 102.74%);
}

.right-login {
  width: 370px;
  margin-left: -6px;
  height: 499px;
  flex-shrink: 0;
}

.right-login > .logo {
  margin-top: 23px;
  margin-left: 4px;
}

.right-login > p {
  text-align: center;
  font-family: white-dream;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
}

label {
  font-family: new-walt-disney;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.form-login {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pass {
  margin-top: 20px;
}
input[type="text"],
input[type="password"] {
  width: 260px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #000;
  background: linear-gradient(
    180deg,
    rgba(254, 249, 239, 0) 0%,
    rgba(254, 249, 239, 0) 100%
  );
}

button {
  margin-top: 60px;
}
